<% layout('layouts/app') %>

<h1>Places</h1>
<% for(const place of places) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="<%= place.image %>" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= place.title %></h5>
                    <p class="card-text"><%= place.description  %></p>
                    <p class="card-text">
                        <small class="text-secondary"><%= place.location  %></small>
                    </p>
                    <a href="/places/<%= place._id %>" class="btn btn-primary">View <%= place.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>