<% layout('layouts/app') %>

<h1><%= place.title %></h1>
<h2><%= place.location %></h2>
<img src="<%= place.image %>" alt="">
<p><%= place.description %></p>
<form action="/places/<%= place._id %>?_method=DELETE" method="POST" style=" display:inline!important;">
    <button type="submit">Delete</button>
</form>
<a href="/places/<%= place._id %>/edit">Edit</a>
<a href="/places">All Places</a>