<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place: <%= place.title %></title>
</head>
<body>
    <h1><%= place.title %></h1>
    <h2><%= place.location %></h2>
    <form action="/places/<%= place._id %>?_method=DELETE" method="POST" style=" display:inline!important;">
        <button type="submit">Delete</button>
    </form>
    <a href="/places/<%= place._id %>/edit">Edit</a>
    <a href="/places">All Places</a>
</body>
</html>