<% layout('layouts/app') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= place.image %>" class="card-img-top" alt="<%= place.title %>">
            <div class="card-body">
              <h5 class="card-title"><%= place.title %></h5>
              <p class="card-text"><%= place.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= place.location %></li>
                <li class="list-group-item"><%= place.price %></li>
            </ul>
            <div class="card-body">
                <a href="/places/<%= place._id %>/edit" class="card-link btn btn-warning text-white">Edit</a>
                <form action="/places/<%= place._id %>?_method=DELETE" method="POST" style=" display:inline!important;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <h3>Leave a review</h3>
        <form action="/places/<%= place._id %>/reviews" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range" required>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please fill out this field.
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>